
  .clients-list {
      display: flex;
      justify-content: center;
      gap: 30px;
  }
.clients-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        transition: border-color var(--transition-dur-func);

        &:hover,
            &:focus {
                border-color: var(--accent-color);
            }

                    &:hover .clients-icon,
                    &:focus .clients-icon {
                        fill: var(--accent-color);
                    }


 .clients-icon {
     width: 106px;
     height: 60px;
     fill: #AFB1B8;
     transition: fill var(--transition-dur-func);
 }
                              
    }

/* 0px - 767px */

@media screen and (max-width: 767px) {
.clients-list {
    flex-wrap: wrap;
}
    .clients-link {
            width: 210px;

}
}
/* 768px + */

@media screen and (min-width: 768px) {
.clients-list {
        flex-wrap: wrap;
    }
   
    .clients-link {
            width: 226px;
}
}
  /* 
1200px +
*/

  @media screen and (min-width: 1200px) {

        .clients-link {
                width: 170px;
  }

  }
