.main-section {

    padding-top: 118px;
        padding-bottom: 118px;
            margin: 0 auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
    
            background-color: #C4C4C4;
        }

 .main-section__title {
     font-weight: 900;
     font-size: 26px;
     line-height: 1.62;
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;

     color: var(--text-color-theme-dark);

 }

         .section-btn {
             font-weight: 700;
             font-size: 16px;
             line-height: 1.88;
             display: flex;
             align-items: center;
             text-align: center;
             letter-spacing: 0.06em;
             margin: auto;
             padding: 10px 24px 10px 24px;
             margin-top: 30px;
             border: none;
             border-radius: 4px;
    
             color: var(--text-color-theme-dark);
             background-color: var(--accent-color);
    
             &:hover,
             &:focus {
                 background-color: var(--accent-color);
             }
         }

/* 0px - 767px */

@media screen and (max-width: 767px) {
.main-section {
 
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                        url('../img/hero/hero-mobile.jpg');
}
  
}
/* screen 2x + 0px - 767px */

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
        .main-section {
background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../img/hero/hero-mobile@2x.jpg')
        }

    }

        /* 768px + */

           @media screen and (min-width: 768px) {
.main-section {
    
        padding-bottom: 198px;

        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../img/hero/hero-tablet.jpg');

    
    }

    .main-section__title {
        width: 360px;
        margin: auto;
    }


         }
           

     /* screen 2x +  768px + */
 @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
 screen and (min-resolution: 2dppx) and (min-width: 768px) {

.main-section {


        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../img/hero/hero-tablet@2x.jpg')
    }
 }

 /* 
1200px +
*/

 @media screen and (min-width: 1200px) {
    .main-section {
    
                padding-top: 200px;
                padding-bottom: 200px;
                background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url('../img/hero/hero-desktop.jpg');
                    max-width: 1600px;}
 
                    .main-section__title {
                        width: 696px;
                            font-size: 44px;
                            line-height: 1.36;

 }


 .section-btn {
    padding: 10px 32px 10px 32px;
 }
 }

/* 2x + 1200px + screen */

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .main-section {
            background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../img/hero/hero-desktop@2x.jpg')
        }
  }


